#volume-slider {
	outline: none;
	padding: 0;
	width: 50%;
	height: 4px;
	background-color: #262626;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #087af5), color-stop(100%, #087af5));
	background-image: -webkit-linear-gradient(#e11d48, #e11d48);
	background-image: -moz-linear-gradient(#e11d48, #e11d48);
	background-image: -o-linear-gradient(#e11d48, #e11d48);
	background-image: linear-gradient(#e11d48, #e11d48);
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	-webkit-appearance: none;
}
#volume-slider::-webkit-slider-runnable-track {
	box-shadow: none;
	border: none;
	background: transparent;
	-webkit-appearance: none;
}
#volume-slider::-moz-range-track {
	box-shadow: none;
	border: none;
	background: transparent;
}
#volume-slider::-moz-focus-outer {
	border: 0;
}
#volume-slider::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	border: 0;
	background: #e11d48;
	border-radius: 100%;
	box-shadow: 0 1px 2px 0px #000;
	-webkit-appearance: none;
}
#volume-slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border: 0;
	background: white;
	border-radius: 100%;
	box-shadow: 0 1px 2px 0px #000;
}
